@use "../../colors" as color;

.grid {
  $grid-max-size: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  margin: auto;
  max-width: $grid-max-size;
  max-height: $grid-max-size;
  padding-top: 1.5rem;

  &__word {
    $padding: 0.5rem;
    $max-square-size: calc($grid-max-size / 7 - $padding);
    $square-size: minmax(auto, $max-square-size);

    display: grid;
    grid-template-columns: repeat(5, $square-size);
    grid-template-rows: $square-size;
    gap: $padding;
    margin-bottom: $padding;
  }

  &__letter {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5rem;
    border: solid 2px rgb(122, 122, 122);
    text-transform: uppercase;

    &--correctLocation {
      border: none;
      background: color.$correct;
      border-color: color.$correct;
    }

    &--correctWrongLocation {
      background: color.$wrongLocation;
      border-color: color.$wrongLocation;
    }

    &--incorrect {
      color: white;
      background: color.$incorrect;
      border-color: color.$incorrect;
    }
  }
}
