@use "../../colors" as color;

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;

  max-width: 430px;

  &__word {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: 50px;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__letter {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5rem;
    border: solid 2px rgb(122, 122, 122);

    &--correctLocation {
      border: none;
      background: color.$correct;
      border-color: color.$correct;
    }

    &--correctWrongLocation {
      background: color.$wrongLocation;
      border-color: color.$wrongLocation;
    }

    &--incorrect {
      color: white;
      background: color.$incorrect;
      border-color: color.$incorrect;
    }
  }
}
