.header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  border-bottom: solid 1px lightslategray;
  width: 100vw;

  &__title {
    color: white;
    text-align: center;
  }

  section {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
  }
}
