@use "../../colors" as color;

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;

  width: 95%;
  max-width: 650px;
  padding: 1rem 0 1rem 0;

  &__row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0.3rem;

    &:nth-child(2) {
      width: 90%;
    }
  }

  &__key {
    $shadow-height: 0.15rem;

    color: color.$kb-text;
    background: color.$kb-background;
    border-radius: 5px;
    box-shadow: color.$kb-shadow 0rem $shadow-height;

    padding: 15px;
    margin: 2px;
    width: 100%;
    min-width: 2rem;

    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &--correct {
      background-color: color.$correct;
    }

    &--wrongLocation {
      background-color: color.$wrongLocation;
    }

    &--incorrect {
      background: color.$incorrect;
    }

    &--special {
      background: color.$kb-background-special;
      min-width: 45px;
    }

    &--primary {
      color: black;
      background: color.$kb-background-primary;
    }

    &:hover,
    &:active {
      transform: translateY($shadow-height);
      box-shadow: none;
    }
  }
}
