@use "../../colors" as color;

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;

  font-size: 1.25rem;

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__key {
    border-radius: 4px;
    background: darkgray;
    margin: 2px;
    padding: 1rem 0.5rem;
    min-width: 1rem;
    text-align: center;
    cursor: pointer;

    &--correct {
      background-color: color.$correct;
    }

    &--wrongLocation {
      background-color: color.$wrongLocation;
    }

    &--incorrect {
      color: white;
      background: color.$incorrect;
    }
  }
}
