$green: rgb(54, 134, 63);
$orange: rgb(228, 114, 15);
$gray: rgb(68, 68, 68);

$text: white;
$background: rgb(32, 36, 37);
$primary: $green;

$correct: $green;
$wrongLocation: $orange;
$incorrect: $gray;

// Keyboard colors

$kb-text: white;
$kb-background: rgb(100, 102, 103);
$kb-background-special: rgb(64, 64, 66);
$kb-background-primary: rgb(211, 213, 215);
$kb-shadow: rgb(65, 64, 64);
